@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap'); 
  body {
    position: relative;
    min-height: 100vh;
    color: #373F41;
    font-size: 14px;
    padding-bottom: 30px; }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Mulish', sans-serif;
      text-decoration: none;
      color: inherit;
      font-size: inherit; }

      ul, li, ol {
        list-style: none; }

        h1 {
          font-size: 42px;
          margin: 6px 0; }

          h2 {
            font-size: 32px;
            margin: 6px 0; }

            h3 {
              font-size: 24px;
              margin: 6px 0; }

              h4 {
                font-size: 18px;
                margin: 6px 0; }

                p {
                  margin: 3px 0; }

                  img {
                    max-width: 100%;
                    max-height: 100%; }

                    .button-wrapper {
                      margin-top: 8px; }

                      .button {
                        display: inline-block;
                        color: white;
                        background-color: #3C64B1;
                        padding: 10px 20px; }

                        .button_light {
                          display: inline-block;
                          color: #3C64B1;
                          background-color: transparent;
                          border: 2px solid #3C64B1;
                          padding: 8px 18px; }

                          header {
                            padding: 20px 150px;
                            background-color: rgba(60, 100, 177, 0.06);
                            color: #3C64B1;
                            display: flex;
                            justify-content: space-between;
                            align-items: center; }
                            @media screen and (max-width: 1024px) {
                              header {
                                padding: 10px;   }
}

  .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }

    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px; }

      .nav__item {
        display: flex;
        justify-content: center;
        align-items: center; }

        footer {
          padding: 20px 150px;
          color: white;
          background-color: #373F41;
          height: 30px;
          width: 100%;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media screen and (max-width: 1024px) {
            footer {
              padding: 10px;   }
}

  .form-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center; }
    .form-wrapper:target {
      display: flex; }
      .form-wrapper .form {
        background-color: #f0f0f0;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column; }
        .form-wrapper h3 {
          text-align: center; }
          .form-wrapper input {
            width: 100%; }
            .form-wrapper .button-wrapper {
              text-align: center; }

  .title {
    padding: 20px 150px;
    background-color: rgba(60, 100, 177, 0.06);
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media screen and (max-width: 1024px) {
      .title {
        padding: 10px;   }
}
      @media screen and (max-width: 1024px) {
        .title {
          grid-template-columns: 1fr;   }
}

  .title__text {
    display: grid;
    grid-template-rows: auto 1fr auto; }
    @media screen and (max-width: 1024px) {
      .title__text {
        text-align: center;   }
        .title__text p {
          margin-bottom: 20px;   }
}

  @media screen and (max-width: 1024px) {
    .title__image {
      display: none;   }
}

  .catalog {
    padding: 20px 150px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px; }
    @media screen and (max-width: 1024px) {
      .catalog {
        padding: 10px;   }
}

  .catalog__title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; }

    .catalog__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 24px; }
      @media screen and (max-width: 1200px) {
        .catalog__list {
          grid-template-columns: 1fr 1fr;   }
}
        @media screen and (max-width: 800px) {
          .catalog__list {
            grid-template-columns: 1fr;   }
}

  .catalog__item {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto 1fr; }
    .catalog__item-buttons {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 16px; }

  .object {
    padding: 20px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px; }
    @media screen and (max-width: 1024px) {
      .object {
        padding: 10px;   }
}
      @media screen and (max-width: 1024px) {
        .object {
          display: flex;
          flex-direction: column-reverse;   }
}

  .object__info-buttons {
    display: grid;
    grid-template-rows: 1fr auto; }
    .object__info-buttons input, .object__info-buttons textarea {
      margin-bottom: 8px;
      width: 100%; }
      @media screen and (max-width: 1024px) {
        .object__info-buttons {
          text-align: center;   }
          .object__info-buttons p {
            margin-bottom: 20px;   }
}

  .requests {
    padding: 20px 150px; }
    @media screen and (max-width: 1024px) {
      .requests {
        padding: 10px;   }
}

  .table-desktop {
    width: 100%;
    display: grid;
    grid-template-columns: fit-content(30%) auto 1fr auto auto;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .table-desktop {
        display: none;   }
}
      .table-desktop .column {
        border-bottom: 1px solid #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100%; }
        .table-desktop .column_title {
          color: darkgray;
          border-bottom: none; }
          .table-desktop .column_name {
            justify-content: left; }
            .table-desktop .column_name.column_title {
              padding-left: 16px; }

  .table-mobile {
    width: 100%;
    display: none; }
    @media screen and (max-width: 1024px) {
      .table-mobile {
        display: flex;
        flex-direction: column;
        gap: 16px;   }
}
