<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency</title>
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <div class="logo"><a href="{{ url_for('home_view') }}">Agency</a></div>
        <nav class="nav">
            {% if not current_user.is_authenticated %}
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#login" class="button">
                        <p>Вход</p>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#register" class="button">
                        <p>Регистрация</p>
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#">
                        <p>Админ. панель</p>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#logout" class="button">
                        <p>Выход</p>
                    </a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        <p>© AGENCY. All rights reserved.</p>
    </footer>

    <!-- forms -->
    <div class="form-wrapper" class="login" id="login">
        <form class="form" action="{{ url_for('login_view') }}">
            <h3>Вход</h3>
            <label for="number">
                <p>Номер телефона</p>
                <input type="text" name="number">
            </label>
            <label for="password">
                <p>Пароль</p>
                <input type="password" name="password">
            </label>
            <div class="button-wrapper">
                <button type="submit" class="button">Войти</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>
    <div class="form-wrapper register" id="register">
        <form class="form" action="{{ url_for('register_view') }}">
            <h3>Регистрация</h3>
            <label for="number">
                <p>Номер телефона</p>
                <input type="text" name="number">
            </label>
            <label for="name">
                <p>Имя</p>
                <input type="text" name="name">
            </label>
            <label for="password">
                <p>Пароль</p>
                <input type="password" name="password">
            </label>
            <label for="password-verify">
                <p>Пароль</p>
                <input type="password" name="password-verify">
            </label>
            <div class="button-wrapper">
                <button type="submit" class="button">Зарегистрироваться</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>
    <div class="form-wrapper create_object" id="create_object">
        <form class="form" action="{{ url_for('create_object_view') }}">
            <h3>Добавление объекта</h3>
            <label for="title">
                <p>Заголовок</p>
                <input type="text" name="title">
            </label>
            <label for="rooms">
                <p>Комнат</p>
                <input type="number" name="rooms">
            </label>
            <label for="size">
                <p>Площадь</p>
                <input type="number" name="size">
            </label>
            <label for="description">
                <p>Описание</p>
                <textarea  name="description"></textarea>
            </label>
            <div class="button-wrapper">
                <button type="submit" class="button">Добавить</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>
</body>

</html>
