<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LANGUAGE</title>

    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home_view') }}"><img src="{{ url_for('static', filename='language.png')}}" alt=""></a>
        </div>

        <nav class="nav">

            {% if not g.user.is_authenticated %}
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#login" class="button">
                        <p>Вход</p>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#register" class="button">
                        <p>Регистрация</p>
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="nav__list">

                {% if g.user.has_role('admin') %}
                <li class="nav__item">
                    <a href="{{ url_for('admin_view') }}">
                        <p>Админ. панель</p>
                    </a>
                </li>
                {% endif %}
                <li class="nav__item">
                    <a href="{{ url_for('logout_view') }}" class="button">
                        <p>Выход</p>
                    </a>
                </li>
            </ul>
            {% endif %}

        </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        <p>© LANGUAGE. All rights reserved. <a href="https://vk.ru">Мы в вконтакте.</a> <a href="https://youtube.com">Наш youtube канал.</a></p>
    </footer>

    <!-- notifs -->
    <ul class="notif">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="notif__item notif__item_{{category}}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </ul>


    <!-- forms -->
    <div class="form-wrapper" class="login" id="login">
        <form class="form" action="{{ url_for('login_view') }}" method="post">
            <h3>Вход</h3>

            <label for="number">
                <p>Номер телефона</p>
                <input type="text" name="number" pattern="[0-9- ]{10,14}" maxlength="15"required>
            </label>
            <label for="password">
                <p>Пароль</p>
                <input type="password" name="password" pattern="[0-9a-zA-Zа-яА-Я_.- ]{4,24}" maxlength="24"required>
            </label>

            <div class="button-wrapper">
                <button type="submit" class="button">Войти</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>
    <div class="form-wrapper register" id="register">
        <form class="form" method='post' action="{{ url_for('register_view') }}">
            <h3>Регистрация</h3>

            <label for="number">
                <p>Номер телефона</p>
                <input type="text" name="number"pattern="[0-9- ]{10, 15}" maxlength="15"required>
            </label>
            <label for="name">
                <p>Имя</p>
                <input type="text" maxlength="144"name="name" pattern="[0-9a-zA-Zа-яА-Я_.- ]{4, 144}" required>
            </label>
            <label for="password">
                <p>Пароль</p>
                <input type="password" name="password" pmaxlength="24"attern="[0-9a-zA-Zа-яА-Я_.- ]{4,24}" required>
            </label>
            <label for="password_verify">
                <p>Пароль</p>
                <input type="password" name="password_verify" maxlength="24"pattern="[0-9a-zA-Zа-яА-Я_.- ]{4,24}" required>
            </label>

            <div class="button-wrapper">
                <button type="submit" class="button">Зарегистрироваться</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>

    <div class="form-wrapper create_object" id="create_object">
        <form class="form" action="{{ url_for('create_object_view') }}" enctype=multipart/form-data method="post">
            <h3>Добавление курса</h3>

            <label for="title">
                <p>Заголовок</p>
                <input type="text" name="title" maxlength="144" pattern="[0-9a-zA-Zа-яА-Я_.- ]{4,144}" required>
            </label>
            <label for="price">
                <p>Цена</p>
                <input type="number" name="price"maxlength="20" pattern="[0-9]{1,20}" required>
            </label>
            <label for="rooms">
                <p>Учеников</p>
                <input type="number" name="rooms" maxlength="3"pattern="[0-9]{1,3}" required>
            </label>
            <label for="size">
                <p>Уроков</p>
                <input type="number" name="size" maxlength="5"pattern="[0-9]{1,5}" required>
            </label>
            <label for="description">
                <p>Описание</p>
                <textarea name="description" pattern="[0-9a-zA-Zа-яА-Я_.- ]{4,}" required></textarea>
            </label>
            <label for="image">
                <p>Изображение</p>
                <input type="file" name="image"accept=".jpg, .jpeg, .png, .webp, .gif"></input>
            </label>

            <div class="button-wrapper">
                <button type="submit" class="button">Добавить</button>
                <a href="#" class="button_light">Отмена</a>
            </div>
        </form>
    </div>
</body>

</html>
