{% extends 'base.html' %}
{% block main %}
<main>
    <!-- title ------------------------------------------------->
    <section class="title">
        <div class="title__text">
            <h1>Сделаем английский вашим вторым родным языком</h1>
            <p>Поможем добиться уровня нативного носителя языка!</p>
            <p>Свзаться с нами: +8 999 999 99 99</p>

            <div class="button-wrapper">
                <a href="#catalog" class="button">Выбрать курс</a>
            </div>
        </div>

        <div class="title__image">
            <img src="{{ url_for('static', filename='title_image.png') }}" alt="" />
        </div>
    </section>

    <!-- catalog -------------------------------------------------- -->
    <section class="catalog" id="catalog">
        <div class="catalog__title">
            <h2>НАШИ КУРСЫ</h2>

            {% if g.user.has_role('admin') %}
            <a href="#create_object" class="button_light">Добавить</a>
            {% endif %}

        </div>

        <ul class="catalog__list">

            {% for object in objects %}
            <li class="catalog__item">
                <a href="{{ url_for('object_view', id=object.id) }}">
                    <img src='{{ url_for("static", filename="images/" + object.image_name) }}' alt="image">
                </a>

                <a href="{{ url_for('object_view', id=object.id) }}">
                    <h4>{{ object.title }}</h4>
                </a>
                <p>{{ object.description }}</p>

                {% if g.user.has_role('admin') %}
                <div class="catalog__item-buttons">
                    <a href="{{ url_for('edit_object_view', id=object.id) }}" class="button_light">Изменить</a>
                    <a href="/object/delete/{{object.id}}" class="button_light">Удалить</a>
                </div>
                {% endif %}

            </li>
            {% endfor %}

        </ul>
    </section>

    <section class="title">
    <div class="title__text">
        <h2>Начните с двух бесплатных занятий!</h2>
        <p>Можно бесконечно долго рассказывать о школе и достижениях учеников, но все это не имеет смысла, если мы не
            дадим вам возможность попробовать учиться у нас. И мы даем вам такую возможность за 0 рублей. Оплату за обучение нужно платить только с 3-го урока.</p>

        <p>Свзаться с нами: +8 999 999 99 99</p>

        <div class="button-wrapper">
            <a href="#catalog" class="button">Выбрать курс</a>
        </div>
    </div>


    <div class="title__image">
        <img src="{{ url_for('static', filename='title_image2.png') }}" alt="" />
    </div>
    </section>

    <section class="catalog" id="catalog">
        <div class="catalog__title">
            <h3>ПОЧЕМУ МЫ?</h3>
        </div>

        <ul class="catalog__list">
            <li class="catalog__item">
                <h4>Самая эффективная методика – язык через общение!</h4>
                <p>
                    Развитие основных коммуникативных навыков: разговорная речь, понимание речи на слух, чтение и
                    письмо.
                </p>
            </li>
            <li class="catalog__item">
                <h4>Новейшие технологии обучения</h4>
                <p>
                    Современные учебные программы, оснащённые высокотехнологичным онлайн компонентом My English Lab
                </p>
            </li>
            <li class="catalog__item">
                <h4>Опытный педагогический состав</h4>
                <p>
                    Умение создать психологически комфортную атмосферу в группах, которая позволяет слушателям
                    раскрепоститься и раскрыть свой языковой потенциал.
                </p>
            </li>
            <li class="catalog__item">
                <h4>Индивидуальная поддержка каждого студента</h4>
                <p>
                    Дополнительные индивидуальные консультации в случае пропуска занятий и возникновения трудностей с
                    освоением программы
                </p>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
